################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestSZGMC/FileContentIndex
/.vs/TestSZGMC/FileContentIndex/d1383e4e-dd3e-4197-8228-1123cee182a1.vsidx
/.vs/TestSZGMC/FileContentIndex/2f58a816-b941-4def-90bd-e5b3447a7db3.vsidx
/.vs/TestSZGMC/FileContentIndex/a3507056-6f02-4e37-83ea-02d314ca4329.vsidx
/.vs/TestSZGMC/FileContentIndex/9b7a3ede-dc1b-45c0-b4d5-01db40a6f16e.vsidx
/.vs/TestSZGMC/FileContentIndex/d370ecc2-2a40-4280-bf63-0ef2a0eb2af7.vsidx
/.vs/TestSZGMC/v17/TestStore/1/013.testlog
/.vs/TestSZGMC/v17/.suo
/.vs/TestSZGMC/v17/DocumentLayout.json
/TestSZGMC/bin/Debug/net8.0/nunit_random_seed.tmp
/TestSZGMC/bin/Debug/net8.0/TestSZGMC.pdb
/TestSZGMC/bin/Debug/net8.0/TestSZGMC.dll
